<div id="nav-menu">

  <div class="profile">
    <img src="{{ site.baseurl }}/assets/img/user1.png" alt="profile">
  </div>

  <div class="profile">
    <h2><a href="/about">{{ site.title }}</a></h2>
  </div>

  <div class="profile">
    <span>{{ site.description }}</span>
  </div>

  <div class="social">

    <div class="twt"><span><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></span></div>
    <div class="fb"><span><a href="https://facebook.com/{{ site.facebook_username }}">Facebook</a></span></div>
    <div class="pin"><span><a href="https://pinterest.com/{{ site.pinterest_username }}">Pinterest</a></span></div>
    <div class="gthb"><span><a href="https://github.com/{{ site.github_username }}">Github</span></div>
    <div class="yt"><span><a href="https://youtube.com/{{ site.youtube_username }}">YouTube</a></span></div>

  </div>

</div>