---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="main">
    <div class="content">
  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    <p>{{ post.excerpt }}</p>
    <div class="date">{{ post.date | date_to_long_string }} - {{ post.categories }}</div>
</div>
</div>
{% endfor %}


{% if paginator.total_pages > 1 %}
<div class="main">


<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo;</a>
  {% else %}
    <span class="soluk">&laquo;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="act">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">&raquo;</a>
  {% else %}
    <span class="soluk">&raquo;</span>
  {% endif %}
</div>
</div>
{% endif %}